# Set root logger level to DEBUG and its only appender to FOX.
log4j.rootLogger=INFO, DMDA

# DMDA is set to be a ConsoleAppender.
log4j.appender.DMDA=org.apache.log4j.ConsoleAppender

# DMDA uses PatternLayout.
log4j.appender.DMDA.layout=org.apache.log4j.PatternLayout
log4j.appender.DMDA.layout.ConversionPattern=%d [%t] %-5p %c - %m%n

# Limit Hikari logging output
log4j.logger.com.zaxxer.hikari=INFO
log4j.logger.HikariPool=INFO

# Limit subethamail logging
log4j.logger.org.subethamail.smtp.server.SMTPServer=INFO
log4j.logger.org.subethamail.smtp.server.ServerThread=INFO